/*
	GRID
*/

[class*='grid'],
[class*='col-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	padding-right: 15px;

	&:last-child {padding-right: 0;}
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px;
	margin: 0 auto;
	overflow: hidden;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
/* Content Columns */

.col- {
	&12-12 {width: 100%;}
	&11-12 {width: 91.66%;}
	&10-12 {width: 83.333%;}
	&9-12 {width: 75%;}
	&8-12 {width: 66.66%;}
	&7-12 {width: 58.33%;}
	&6-12 {width: 50%;}
	&5-12 {width: 41.66%;}
	&4-12 {width: 33.33%;}
	&3-12 {width: 25%;}
	&2-12 {width: 16.667%;}
	&1-12 {width: 8.33%;}
}

/* Pushing blocks */

.push- {
	&right {float: right;}

	&11-12 {margin-left: 91.66%;}
	&10-12 {margin-left: 83.333%;}
	&9-12 {margin-left: 75%;}
	&8-12 {margin-left: 66.66%;}
	&7-12 {margin-left: 58.33%;}
	&6-12 {margin-left: 50%;}
	&5-12 {margin-left: 41.66%;}
	&4-12 {margin-left: 33.33%;}
	&3-12 {margin-left: 25%;}
	&2-12 {margin-left: 16.667%;}
	&1-12 {margin-left: 8.33%;}
}

@media @max-sm {
	.mobile-hidden {display: none !important;}
}
